header {
    background-image: url('../img/Contact/contact-us.jpg');
    background-size: cover;

}

.navbar {

    background-color: #38323249;
}

.navbar .Contact {
    color: #9fc4ce;
    text-decoration: underline;
}

.btn_nav a {
    background-color: #fff;
    transition-duration: 1s;
}

.btn_nav a:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color: #fff;
}

.nav-item a {
    color: #fff;
    transition: all 1s;
}

.nav-item a:hover {
    text-decoration: underline;
    color: #9fc4ce;
}

.header-cntent h1 {
    font-family: initial;
    font-size: 108px;

}

.navscroll {
    background-color: #252525;
}

.footer p,
.footer span,
a {
    color: #999999;
    text-decoration: none;

}

section3 .col-auto input,
textarea {
    height: 50px;
    background-color: #f2f2f2;
}

.submit input {
    background-color: #e1edf0;
    transition-duration: 1s;
}

.submit input:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color: #fff;
}